* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow Condensed";
}
/* .container {
  max-width: 85rem;
  margin: 0 auto;
} */

.navbar-list {
  display: flex;
  align-items: center;
}
.navbar {
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo .logo {
  width: 15%;
  margin: 10px 50px;
}

.navbar-list ul {
  display: flex;
  align-items: center;
}

.navbar-list li {
  list-style: none;
}

.navbar-list li a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: inline-block;
  float: left;
  transition: all 0.5s;
}

.navbar-list .btn-login {
  color: #eff1f3;
  width: 8rem;
  line-height: 2.5em;
  text-align: center;
  border-radius: 35px;
  background: linear-gradient(to right, #1e9cd7, #0075be);
}

.navbar li a:hover {
  color: white;
  background-color: grey;
}

.navbar .btn-login:hover {
  color: #1794d2;
  border: 2px solid #1794d2;
  background: rgb(247, 246, 246);
  box-shadow: 0 1px 6px 1px rgb(201, 201, 201);
}

.navbar .toggler-navbar {
  margin-right: 15px;
}

.navbar-list.open {
  transform: rotate3d(0, 0, 1, 0deg);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.contents {
  background-image: url("https://images.unsplash.com/photo-1506544777-64cfbe1142df?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: bottom;
  height: 500px;
  padding: 50px;
  position: relative;
  top: 50px;
}

.content-name h1 {
  font-size: 60px;
  line-height: 20px;
}

.content-name h2 {
  color: silver;
  font-size: 30px;
  line-height: 10px;
}

a {
  text-decoration: none;
  /* color: black; */
  transition: all 0.5s;
}

.content-size {
  margin-top: 100px;
}

.size {
  background-color: white;
  opacity: 0.5;
  padding: 7px;
  cursor: pointer;
}

.size:hover,
.size:active {
  opacity: 0.8;
}

.cart {
  line-height: 80px;
  background-color: black;
  color: silver;
  padding: 10px;
  border-radius: 20px;
}

.cart:hover {
  background-color: silver;
  color: black;
}

.products {
  width: 100%;
  margin: 50px auto;
}

.detail {
  float: right;
  padding: 0 30px;
  margin-top: 80px;
  width: 33.33%;
}

.detail p {
  color: rgb(80, 80, 80);
  line-height: 30px;
}

.detail table tr td {
  padding: 7px;
  border-bottom: solid 1px gray;
}

.round {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: gray;
  margin: 2px 5px;
}

.color {
  background-color: aqua;
}

.target {
  display: inline-block;
  border-radius: 50%;
  margin: 0;
  border: solid aqua 1px;
}

.fa-star {
  color: gray;
}

.checked {
  color: yellow;
}

.score {
  white-space: nowrap;
}

.text {
  display: inline-block;
  line-break: normal;
}
.clear {
  clear: both;
}

/* Main Wrapper */

.main-wrapper {
  width: 100%;
  margin: 50px auto;
}

.main {
  /* float: right; */
  padding: 50px;
}

.main-title h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 50px;
}

.main-content {
  float: left;
  padding: 0 30px;
  width: 25%;
  cursor: pointer;
}

.main-content:hover {
  box-shadow: 0 10px 30px #cfcfcf;
}

.main-content img {
  width: 240px;
}

.rating {
  padding-top: 30px;
  color: orange;
}

.text-content h2 {
  font-size: 24px;
}

.text-content p {
  font-size: 18px;
}

/* FOOTER */
li {
  list-style: none;
}
footer {
  margin-top: 50px;
  background-color: black;
  color: white;
  height: 300px;
  padding: 40px;
}
.footer-list {
  float: left;
  width: 50%;
}
/* .footer-about-list li {
  padding-bottom: 10px;
}
.footer-contact-list {
  float: middle;
  padding-left: 400px;
} */
.footer-list li {
  padding-bottom: 10px;
}
.title {
  color: chartreuse;
  font-size: 20px;
}
